<section class="about-us">
  <div class="text-section">
    <h2>Acerca De Nosotros</h2>
    <p>
      Somos un equipo de estudiantes del séptimo ciclo de la Universidad Peruana de Ciencias Aplicadas (UPC), del curso de Finanzas e Ingeniería Económica. Como parte de nuestro desarrollo académico y profesional, estamos trabajando en una aplicación web interactiva que implementa el Método Alemán de Amortización.
    </p>
  </div>
  <div class="image-section">
    <img src="assets/estudiantes.png" alt="Estudiantes" />
  </div>
</section>

<section class="mission">
  <div class="image-section">
    <img src="assets/analiticas.png" alt="Gráficos" />
  </div>
  <div class="text-section">
    <h2>Nuestra Misión</h2>
    <p>
      Desarrollar una aplicación intuitiva y confiable que facilite el aprendizaje y uso del Método Alemán de Amortización, brindando una herramienta educativa y práctica que contribuya al análisis financiero eficiente y al fortalecimiento de nuestras competencias técnicas y económicas.
    </p>
  </div>
</section>
